

<!-- <app-top-bar></app-top-bar> -->
<mat-toolbar color="primary">
  <button mat-button (click)="sidenav.open ()" ><mat-icon>menu</mat-icon></button>
  <span>Retriever</span>
  <span class="example-spacer"></span>
  <button mat-button [matMenuTriggerFor]="appMenu"><mat-icon>settings</mat-icon></button>
</mat-toolbar>
<mat-menu #appMenu="matMenu">
  <button mat-menu-item> Settings </button>
  <button mat-menu-item> Help </button>
</mat-menu>
<mat-sidenav-container class="example-container">
  <app-feeds></app-feeds>
  <mat-sidenav #sidenav class="example-sidenav">
  </mat-sidenav>
</mat-sidenav-container>
<router-outlet></router-outlet>
